<!DOCTYPE html>
<html>
<head>
  <title>RealChat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

</head>
<body>

<%= yield %>

</body>
</html>
